{% extends 'base.html' %}

{% load static %}

{% block title %}Desarrollador Backend{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="{% static 'images/back-end-developer.png' %}" alt="Desarrollador Backend" class="card-img-top">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <h1 class="card-title">Desarrollador Backend</h1>
                        <p class="card-text">
                            Buscamos un desarrollador backend con experiencia en Node.js, Express y bases de datos MongoDB. Ideal para trabajar en la creación de APIs robustas y escalables.
                        </p>
                        <p class="text-muted">Ubicación: Bogotá</p>
                        <p class="text-muted">Edad: </p>
                        <p class="text-muted">Requerimientos: Node.js, Express, MongoDB</p>
                        
                        <input type="hidden" name="jobTitle" value="Desarrollador Backend">
                        <input type="hidden" name="description" value="Buscamos un desarrollador backend con experiencia en Node.js, Express y bases de datos MongoDB. Ideal para trabajar en la creación de APIs robustas y escalables.">
                        <input type="hidden" name="requirements" value="Requerimientos: Node.js, Express, MongoDB">
                        
                        <div class="container-fluid border rounded border-dark p-4">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Nombre completo" name="fullName">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Correo electrónico" name="email">
                                </div>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <div class="col-md-4">
                                    <label for="experienceYears" class="fw-italic fs-5" style="margin-left: 80px; margin-bottom: 5px;">Experiencia</label>
                                </div>
                                <div class="col-md-8">
                                    <select name="experienceYears" class="form-select" style="margin-left: -50px;">
                                        <option selected>Selecciona tu experiencia</option>
                                        <option value="Menos de un año">Menos de un año</option>
                                        <option value="1 a 3 años">1 a 3 años</option>
                                        <option value="4 a 6 años">4 a 6 años</option>
                                        <option value="7 a 10 años">7 a 10 años</option>
                                        <option value="Más de 10 años">Más de 10 años</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center">
                                    <input type="submit" class="btn btn-primary" value="Aplicar Ahora">
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
