{% extends 'base.html' %}

{% load static %}

{% block title %}Desarrollador Full Stack{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="{% static 'images/desarrollador-fullstack.jpg' %}" alt="Desarrollador Full Stack" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">Desarrollador Full Stack</h1>
                    <p class="card-text">
                        Estamos buscando un desarrollador full stack con experiencia en HTML, CSS, JavaScript, y Python. El candidato ideal trabajará en el desarrollo de aplicaciones web de alta calidad, tanto en el frontend como en el backend.
                    </p>
                    <p class="text-muted">Ubicación: Medellín</p>
                    <p class="text-muted">Edad: </p>
                    <p class="text-muted">Requerimientos: HTML, CSS, JavaScript, Python</p>
                    <a href="#" class="btn btn-primary">Aplicar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
