{% extends 'base.html' %}

{% load static %}

{% block title %}Ingeniero DevOps{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="{% static 'images/devops.png' %}" alt="Ingeniero DevOps" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">Ingeniero DevOps</h1>
                    <p class="card-text">
                        Buscamos un Ingeniero DevOps con experiencia en la gestión de infraestructura, automatización de despliegues y en la creación de pipelines de integración continua. El candidato debe tener sólidos conocimientos en herramientas como Docker, Kubernetes y AWS.
                    </p>
                    <p class="text-muted">Ubicación: Medellín</p>
                    <p class="text-muted">Edad: </p>
                    <p class="text-muted">Requerimientos: AWS, Docker, Kubernetes</p>
                    <a href="#" class="btn btn-primary">Aplicar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}