{% extends 'base.html' %}

{% load static %}

{% block title %}Recepcionista{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="{% static 'images/recepcionista.jpg' %}" alt="Recepcionista" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">Recepcionista</h1>
                    <p class="card-text">
                        Estamos buscando un recepcionista para brindar atención al cliente y apoyo administrativo en nuestras instalaciones. El candidato ideal debe tener una excelente actitud de servicio y capacidad para gestionar tareas administrativas.
                    </p>
                    <p class="text-muted">Ubicación: Cali</p>
                    <p class="text-muted">Edad: </p>
                    <p class="text-muted">Requerimientos: Atención al cliente, Comunicación, Manejo de software de reservas</p>
                    <a href="#" class="btn btn-primary">Aplicar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
